<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="./logs" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${ARCHIVEDIR}/wfg-runtime-updater-%d{yyyy-MM-dd}.log
                        </fileNamePattern>
			<!-- <timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy> -->
		</rollingPolicy>

	</appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- En esto uno debe colocar los logger y puede limitarles el nivel de informacion a cada
  clase creada que requiera de logback-->
	<logger name="Server" level="ALL">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="ALL">
    <appender-ref ref="STDOUT" />
	</root>

</configuration>
